
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;

}
body{
    background-position: center;
    background-size: cover;
}
canvas{
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightcoral;
}
a{
    font-size: 20px !important;
    width: 300px;
    border-radius: 10px !important;
    background-color: indianred;
    color: black;
}